
<div class="jumbotron   mt-4">
  <h1 class="display-3"><%=@material.title %></h1>
  <p class="lead"><%=@material.description %></p>
  <hr class="my-4">
  <p><%=@material.instructions  %></p>
  <p class="lead">
    <%= link_to('Delete',material_path(@material),data: {confirm: 'Are you sure?'},method: :delete) %>
  </p>
</div>
